** USE THE CONCEPT OF LOOP TO SOLVE TEHE BELOW QUIRIES **

  1) Print the first 10 natural numbers using for loop.

In [4]:
#Write your code here
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

2) Python program to print all the even numbers within the given range.

Range = 0 to 100

In [7]:
#Write your code Here
for i in range(0,101,2):
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

3) Python program to calculate the sum of all numbers from 1 to a given number.

Given Range = 15

In [8]:
#Write your Code Here
sum=0
num = int(input("Enter the number : "))
for i in range(1,num+1):
    sum+=i
print(sum)

Enter the number : 15
120

4) Python program to calculate the sum of all the odd numbers within the given range.

Given Range = 10

In [9]:
# Write your code Here
sum=0
num = int(input("Enter the number : "))
for i in range(1,num+1,2):
    sum+=i
print(sum)

Enter the number : 10
25

5) Python program to print a multiplication table of a given number

given number = 5

In [11]:
# Write your code here
num = int(input("Enter the number : "))
for i in range(1,11):
    print(num,"X",i,"=",num*i)

Enter the number : 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50