*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [3]:
#WRITE YOUR CODE HERE
def sum_list(numbers):
    return sum(numbers)

numbers = list(map(int, input("Enter numbers separated by commas : ").split(",")))
print(sum_list(numbers))

Enter numbers separated by commas : 8, 2, 3, 0, 7
20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [2]:
#WRITE YOUR CODE HERE
def multiply_list(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result

numbers = list(map(int, input("Enter numbers separated by commas: ").split(',')))
print(multiply_list(numbers))

Enter numbers separated by commas: 8, 2, 3, -1, 7
-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [4]:
#WRITE YOUR CODE HERE
def reverse_string(s):
    return s[::-1]

string = input("Enter a string : ")
print(reverse_string(string))

Enter a string : 1234abcd
dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [6]:
#WRITE YOUR CODE HERE
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

number = int(input("Enter a non-negative integer : "))
print(factorial(number))

Enter a non-negative integer : 10
3628800

5) Write a Python function to check whether a number falls within a given range.

In [8]:
#WRITE YOUR CODE HERE
def is_in_range(num, start, end):
    if start <= num <= end:
        return f"The number {num} falls within the range."
    else:
        return f"The number {num} does not fall within the range."

number = int(input("Enter a number: "))
start_range = int(input("Enter the start of the range: "))
end_range = int(input("Enter the end of the range: "))
print(is_in_range(number, start_range, end_range))

Enter a number: 34
Enter the start of the range: 30
Enter the end of the range: 459
The number 34 falls within the range.